.container{
    display: flex;
    width: 100%;
    height:var(--baseline);
    font-family: var(--maru-mono);
}
.form{
    width: 100%;
    height: var(--baseline);
    display: flex;
    overflow: hidden;
    justify-content: space-between;
    border-left:var(--border);
    border-bottom:var(--border);
}
.inputbox,
.font_select,
.submit {
    height: var(--baseline);
    position: relative;
    width: calc(33.33333% - 33.33333px);
    width: calc(33.33333% - var(--baseline)*2/3);
    border-left:var(--border);
    border-right:var(--border);
    /* border: 0px; */
}
.font_select select{
    width: 100%;
    height: 100%;
    border: 0px;
    font-family: inherit;
        text-transform: uppercase;

}
.submit button{
    width: 100%;
    border: 0px;
    height: 100%;
    font-family: inherit;
    text-transform: uppercase;
}
.inputbox input {
    position: relative;
    width: 100%;
    padding: 20px 10px 10px;
    background: transparent;
    outline: none;
    box-shadow: none;
    border: none;
    color: #23242a;
    font-size: 1em;
    letter-spacing: 0.05em;
    transition: 0.5s;
    z-index: 10;
    
}

.inputbox span {
    position: absolute;
    left: 0;
    padding: 20px 10px 10px;
    font-size: 1em;
    color: #8f8f8f;
    letter-spacing: 00.05em;
    transition: 0.5s;
    pointer-events: none;
    font-family: inherit;
        text-transform: uppercase;
}

.inputbox input:valid~span,
.inputbox input:focus~span {
    color: #45f3ff;
    transform: translateX(-10px) translateY(-34px);
    font-size: 0, 75em;
}

.inputbox i {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2px;
    background: #45f3ff;
    /* border-radius: 4px; */
    transition: 0.5s;
    pointer-events: none;
    z-index: 9;
}

.inputbox input:valid~i,
.inputbox input:focus~i {
    height: var(--baseline);
}
.result{
    display: flex;
    height: var(--baseline-4x) ;
    border-bottom: var(--border);
    border-left: var(--border);
}
@media (max-width:620px) {


    .inputbox,
    .font_select,
    .submit {
        width: 100%;
    }
}
@media (max-width:400px) {
    .container,.form{
        display: block;
    }
    .form{
        height: var(--baseline-3x);
    }
        .inputbox,
        .font_select,
        .submit{
            width: 100%;
            border-bottom: var(--border);
        }
}