/* :root .navbar {
    margin-top: -8px;
    background-color: var(--gray-light);
    display: flex;
    height: var(--baseline);
    font-family: var(--maru-mono);
    justify-content: space-between;
    position: relative;
    border-left: var(--border);
    border-right: var(--border);
    border-bottom: var(--border);
}

.navbar-heading {
    width: 40%;
    margin-top: 0;
    border-right: var(--border);
    color: var(--red);
    top: 0;
    font-family: var(--maru-mega);
    font-weight: 553;
    padding: var(--spacing-normal) var(--spacing-large);
    display: flex;
    font-size: var(--maru-xxlarge);
}

.navbar-text {
    width: 15%;
    padding: var(--spacing-normal) var(--spacing-large);
    border-right: var(--border);
}

.navbar-text:hover {
    background-color: var(--gray-light-hover);
}

.nav-toggle {
    background-color: var(--gray-light);
    display: flex;
    border-right: var(--border);
}

.nav-toggle:hover {
    background-color: var(--gray-light-hover);
}

.time-box {
    width: 30%;
    padding: var(--spacing-normal) var(--spacing-large);
    border-right: var(--border);
}

.side-nav {
    position: fixed;
    top: 0;
    left: -300px;
    width: 200px;
    height: 100%;
    background-color: var(--gray-light);
    transition: left 0.3s ease;
    overflow-x: hidden;
    z-index: 1000;
}

.side-nav.active {
    left: 0;
}

.option-box {
    width: 100%;
    font-family: var(--maru-mono);
    border-bottom: var(--border);
    border-left: var(--border);
    border-right: var(--border);
}

.option-box:hover {
    background-color: var(--gray-light-hover);
}

.side-nav ul {
    padding: var(--spacing-small) var(--spacing-large) var(--spacing-small) 0;
    list-style: none;
}

.side-nav ul li {
    padding: var(--spacing-normal);
    text-align: center;
}

.side-nav ul li a {
    text-decoration: none;
    color: var(--orange);
    font-size: var(--maru-medium);
    display: block;
    transition: all 0.3s ease;
}

.side-nav ul li a:hover {
    font-size: var(--maru-large);
    color: var(--red);
} */
