.heading{
    text-align: center;
    width: 100%;
    
    text-transform: uppercase;
    font-variation-settings: "opsz" 140;
    align-items: center;
    border-left: 1px solid #666;
    border-left: var(--border);
    color: #3c3c3c;
    color: var(--gray-dark);
    display: flex;
    margin-top: -1px;
    min-height: 50px;
    min-height: var(--baseline);
    padding: 25px;
    padding: var(--box-padding);
}
.heading h2 {
    text-align: center;
    font-size: var(--maru-mega-medium);
    padding: var(--box-padding);
    width: 100%;
}
.container {
    height: var(--baseline-4x);
    align-items: stretch;
    display: flex;
    justify-content: space-between;
    overflow: hidden;
    /* border-right: var(--border); */
    border-bottom: var(--border);
}
.logo {
    align-items: center;
    width: 35%;
    height: 100%;
    border-left: 1px solid #666;
    border-left: var(--border);
    display: flex;
    flex-grow: 1;
    padding: var(--box-padding);
    justify-content: center;
}

.logo img {
    max-width: 100%;
    height: auto;
}
@media (max-width:900px) {
    .heading {
            width: 100%;
            /* font-size: var(--maru-mega-small); */
        }
                .container {
                    height: var(--baseline-3x);
                }
}
@media (max-width:540px) {
    
    .container{
        height: var(--baseline-3x);
    }
  
    
}
@media (max-width:400px) {
    .logo{
            width: 0%;
            display: none;
        }
        .container{
            height: var(--baseline-2x);
        }
    .heading h2{ 
        font-size: var(--maru-mega-small);
     }
}