.root {
    height: var(--baseline);
    font-family: var(--maru-mono);
    display: flex;
    position: relative;
    justify-content: space-between;
    background-color: var(--gray-light);
    color: var(--gray-dark);
    border-left: var(--border) ;
    /* border-right: var(--border) ; */
    border-bottom: var(--border) ;
}

.logo,
.clock,
.date,
.options,
.toogle {
    border-left: var(--border);
    /* border-bottom: var(--border); */
    height: var(--baseline);
    /* border-right: var(--border); */
    line-height: var(--baseline-box);
    display: flex;
    align-items: center;
    justify-content: center;
}
.options{
    padding: 0 var(--box-padding);
        height: 100%;
    color: var(--gray-dark);
}
.logo {
    padding: 0 var(--box-padding);
    border-left: none;
}
.logo h2{
    font-size: var(--maru-mega-small);
    padding: 5px;
}
a{
    text-decoration: none;
}
.toogle{
display: none;
}
.clock {
    font-family: var(--maru-emoji);
    font-size: var(--maru-emoji-normal);
    padding: 0 var(--spacing-normal);
}

.date {
    flex: 1;
    padding: 0 var(--box-padding);
    text-transform: uppercase;
}

.shortDate {
    display: none;
}

@media (max-width: 1340px) {
    /* .clock {
        display: none;
    } */
}

@media (max-width: 1265px) {
    /* .date {
        display: none;
    } */
}
@media (max-width:540px) {
.date {
        font-size: var(--maru-normal);
    }
}
@media (max-width: 1180px) {
    .root {
        flex-wrap: wrap;
    height: var(--baseline-2x);
    }

    .logo {
        flex-basis: 100%;
        border-bottom:var(--border);
    }

    .clock,
    .date {
        display: block;
    }

    .date {
        font-size: var(--maru-normal);
    }

    .outer {
        height: var(--baseline-2x);
    }

    .root {
        position: fixed;
        z-index: 100;
        width: calc(100% - 2 * var(--container-spacing-horizontal));
        /* border-right: var(--border); */
    }
}

@media (max-width:540px) {
    .data {
        display: none;
    }
    .toogle{
        display: inline;
    }
    .options {
        display: none;
    }
}